<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícia em Destaque</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #FAFAFA;
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #FF3960;
            color: #FAFAFA;
            text-align: center;
            padding: 20px;
            font-size: 1.8rem;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            background-color: #FFF;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .news-title {
            font-size: 1.8rem;
            color: #121212;
            margin-bottom: 15px;
            text-align: start;
        }

        .news-date {
            color: #510C9A;
            font-size: 1rem;
            text-align: center;
            margin-bottom: 20px;
        }

        .news-image {
            width: 100%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .news-content {
            font-size: 1rem;
            line-height: 1.6;
            text-align: justify;
        }

        footer {
            text-align: center;
            color: #666;
            font-size: 0.9rem;
            padding: 10px 0;
            margin-top: 20px;
        }

        @media (max-width: 480px) {
            main {
                width: 400px;
                padding: 15px;
            }

            .news-title {
                font-size: 1.5rem;
            }

            .news-content {
                font-size: 0.9rem;
            }
        }
    </style>
</head>

<body>
    <header>Notícia em Destaque</header>
    <main>
        <h1 class="news-title">O Autocuidado: entenda os impactos que ele traz para a sua vida e para o sistema de
            saúde.</h1>
        <small>Conheça também os sete pilares que vêm sendo trabalhados pela Associação Brasileira da Indústria de
            Produtos para o Autocuidado em Saúde (ACESSA).</small>
        <p class="news-date">Publicado em: 18/08/2022</p>
        <img src="/images/noticia.webp" alt="Imagem relacionada à notícia" class="news-image">
        <p class="news-content">
            Com acesso a informações verídicas e de qualidade, a população também contribui para a sustentabilidade do
            setor de saúde
        </p>
        <p class="news-content">
            Você conhece os pilares do autocuidado? Conhece as vantagens de se autocuidar? São muitas! A Organização
            Mundial da Saúde (OMS) afirma que a redução de fatores de riscos pessoais, como atividade física ou
            tabagismo, pode prevenir, por exemplo, 81% das doenças do coração. Isso significa que a maioria dos
            problemas cardíacos pode ser evitada. Por isso, a conscientização da população sobre a importância do
            Autocuidado se torna fundamental.
        </p>
        <p class="news-content">
            “A educação é de grande importância para toda a sociedade, para que se possa ter acesso a dados e
            informações verídicas e de qualidade, além de contribuir com a sustentabilidade do setor de saúde, visto que
            já é comprovado que quando as pessoas conseguem se autocuidar, utilizando medicamentos isentos de prescrição
            para cuidar dos sintomas do dia a dia, elas utilizam menos o sistema. Esse impacto é positivo, tanto para a
            população, que se expõe menos a riscos, quanto para o sistema de saúde. Claro que, caso os sintomas
            persistam, é recomendável que um médico seja sempre consultado”, afirma Marli Martins Sileci,
            vice-presidente executiva da Associação Brasileira da Indústria de Produtos para o Autocuidado em Saúde
            (ACESSA).
        </p>
        <p class="news-content">
            A Associação vem conscientizando a sociedade de forma ativa sobre os sete pilares do Autocuidado: uso
            racional de produtos e serviços de saúde; conhecimento seguro de informações em saúde (ou
            literacia/letramento em saúde); bem-estar mental e autoconhecimento; prática de atividades físicas;
            alimentação saudável; consciência de atitudes de risco (como tabagismo e álcool em excesso) e boa higiene
            pessoal e do ambiente.
        </p>

        <h2>Uso racional de medicamentos</h2>
        <p class="news-content">
            É comum estranhar o primeiro pilar do Autocuidado, porque muitos não sabem diferenciar a automedicação da
            autoprescrição. A gente explica!
        </p>
        <p class="news-content">
            Os conhecidos MIPs (medicamentos isentos de prescrição médica) são reconhecidos pela Agência Nacional de
            Vigilância Sanitária (Anvisa) como seguros, podendo ser vendidos sem receita médica. O consumidor encontra
            os MIPs em autosserviços de farmácias e drogarias.
        </p>
        <p class="news-content">
            Já os medicamentos com tarja vermelha ou preta são obrigatoriamente vendidos por meio de prescrição médica,
            conhecidos como MRx. Se um paciente usa um remédio como esse, por conta própria ele se auto prescreve e a
            auto prescrição é uma prática que pode trazer danos à saúde.
        </p>
        <p class="news-content">
            Em estudo intitulado “Utilização de medicamentos isentos de prescrição e economia gerada para os sistemas de
            saúde”, realizado pela Fundação Instituto de Administração (FIA), de 2017, tem-se que a automedicação reduz
            faltas ao trabalho, idas desnecessárias a clínicas ou postos de saúde e economia para o Sistema Único de
            Saúde (SUS) de R$ 364 milhões por ano. Isso evita sobrecarregar a saúde pública. “Não estamos dizendo que os
            MIPs possam ser utilizados indiscriminadamente, muito pelo contrário. É preciso que o consumidor utilize um
            MIP em seus primeiros sintomas, observando sempre as instruções de bula e rotulagem e, em caso de dúvidas ou
            se os sintomas persistirem, procure a orientação de um médico”, explica Marli.
        </p>

        <h2>Brasil no contexto mundial do Autocuidado</h2>

        <p class="news-content">
            Dos 10 países participantes do estudo “Self-Care Readiness Index”, publicado pela Federação Internacional de
            Autocuidado (GSCF), o Brasil é o quarto país que mais pratica o Autocuidado. O levantamento mostra que,
            embora os profissionais recomendem o Autocuidado, falta investimento na qualidade de saúde e no acesso às
            informações.
        </p>

        <p class="news-content">
            Ainda segundo o estudo, 84% da população da América Latina afirmou ter praticado o Autocuidado entre
            2020/2021, porém dentro dessa porcentagem, 56% precisaram suspender visitas ao médico devido ao isolamento
            social e ao colapso do sistema público de saúde.
        </p>

        <h2>Dia Nacional do Autocuidado</h2>
        <p class="news-content">
            O projeto de lei (PL) 3099/2019, ainda em tramitação na Câmara dos Deputados, institui o “Dia Nacional do
            Autocuidado” no nosso calendário. Marli destaca que a inclusão da data abre portas para a criação de
            políticas públicas, valorizando a prática do Autocuidado no Brasil.
        </p>

        <p class="news-content">
            Instituído pela OMS, o Dia Internacional do Autocuidado é celebrado em 24 de julho, que remete à necessidade
            da prática do Autocuidado 24h por dia, sete dias por semana, tendo como objetivo conscientizar e engajar a
            população mundial na tomada de decisões sobre a própria saúde.
        </p>
    </main>
    <footer>© 2024 Notícias de Autocuidado</footer>
</body>

</html>